body{
  font-family: 'Open Sans', sans-serif;
  background: #f0f0f0;
  font-weight: 300;
  text-align:center;
}

section{
  background-color:yellowgreen;
  width: 80%;
  margin:auto;
}

#hiddenSection{
  visibility: hidden;
}

ul{
  text-align: right;
  list-style-position: inside;
 }

p{
  text-align: center;
}

button{
  margin-left: auto;
  margin-right: auto;
  display:block;
  margin-top: 10px;
}

table, td {
  border: 1px solid black;
  margin: auto;
  background-color:yellowgreen;
  color: white;
  table-layout: fixed;
  width: 180px
}
